                                                                                /* PRE CONFIGURATION */
:root {
    --primary-color: #f2f2f2;
    --secondary-color: #a6a6a6;
    --tertiary-color: #737373;
    --quarter-color: #262626;
    --quintenary-color: #0d0d0d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    resize: none;
    font-family:'Poppins', sans-serif;
}
                                                                                /* GLOBAL */
body {
    line-height: 1.5;
}

a {
    color: var(--primary-color);
}

h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: var(--primary-color);
}

h2 {
    margin: 30px 0px;
    margin-top: 1vh;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 4px;
    word-spacing: 8px;
}

h3 {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.5;
    color: var(--secondary-color);
}

h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary-color);
}

p {
    font-size: 1.2rem;
    text-align: justify;
    max-width: 80%;
    margin: auto;
}

.tool {
    padding: 40px;
    text-align: center;
    background: var(--primary-color);
    color:var(--tertiary-color);
}

.container {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
}

.container-text {
    text-align: center;
    z-index: 10;
}
                                                                                /* SHOWCASE */
.showcase {
    position: relative;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.showcase span {
    color: var(--secondary-color);
    font-size: 50px;
    font-weight: 600;
}
                                                        /* LOGO */
.logo a {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 35px;
}
                                                        /* VIDEO */
.video-container, .video-container2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--secondary-color);
}

.video-container video, .video-container2 video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/*Sobreposição*/
.video-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.video-container2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
                                                        /* ON THE VIDEO */
.content {
    z-index: 10;
    margin-top: 15vh;
}
                                                        /* BUTTON */
.btn {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 12vh;
    background: rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--quintenary-color);
    letter-spacing: 6px;
    transform: scale(1.1);
    border: none;
}
                                                                                /* ABOUT */
#about {
    padding: 40px;
    text-align: center;
    background: var(--secondary-color);
    color: var(--primary-color);
}

#about h1 {
    margin-top: 15px;
}
                                                        /* SOCIAL */
.social {
    background: var(--primary-color);
    text-align: center;
    padding: 40px;
}

.social h2 {
    font-weight: 700;
    font-size: 30px;
    color: var(--tertiary-color);
    letter-spacing: 1px;
}

.social a {
    color: var(--tertiary-color);
    margin: 0px 10px;
}
                                                                                    /* MEDIA QUERY */
@media(max-width: 798px) {
                                                        /* SECTION E HEADER */
    .showcase {
        padding: 40px;
    }

                                                        /* MEDIA- TEXT */
    h1 {
        font-size: 2.8em;
        margin-bottom: 30px;
    }
    
    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }
                                                        /* ON THE VIDEO */
    .content {
        margin-top: 7.5vh;
    }
                                                        /* SOCIAL */
    .social h2 {
        font-size: 1.5em;
    }
}